<!DOCTYPE html>
<html>

<head>
  <title>Casa de la Mascota - Programa de Adopciones</title>
  <link rel="stylesheet" type="text/css" href="adopciones.component.css">
</head>

<body>
  <h1 class="center">Casa de la Mascota</h1>
  <p class="center">Pionera en implantar el programa de Adopciones en Bolivia</p>

  <div class="container">
    <h2 class="subtitle">Los perros y gatos entran a un Programa de adopción</h2>
    <p>Los interesados deben llenar una evaluación previa para ser aprobados antes de firmar el Certificado de Adopción (documento privado).
      Mediante este, el nuevo propietario se compromete a darle albergue, alimentación y un seguimiento mínimo veterinario.</p>
    <p>No encadenarlo, no maltratarlo, no utilizarlo en experimentos científicos y no cederlos a terceros sin conocimiento de nuestra organización
      son otros requisitos para la adopción.</p>
  </div>

  <div class="charts-container">
    <div class="chart">
      <div class="chart-circle" style="--percent: 85;"></div>
      <span class="chart-label">Seguridad</span>
    </div>
    <div class="chart">
      <div class="chart-circle" style="--percent: 80;"></div>
      <span class="chart-label">Mejores Doctores</span>
    </div>
  </div>

  <div class="requirements">
    <h2 class="subtitle">Requisitos: Adopción gatos y perros</h2>
    <ul>
      <li>Fotocopia de C.I y la persona tiene que ser mayor de 21 años.</li>
      <li>Número de teléfono fijo.</li>
      <li>Fotocopia de la última factura de luz o agua.</li>
      <li>Casa propia y permiso escrito.</li>
      <li>Cubrir el 50% del costo de 2 vacunas (decavalente en perros y triple felina en gatos) y una cirugía de esterilización.
        Todo 170 Bs.</li>
    </ul>
    <p>Las adopciones se atienden de lunes a viernes de 9:00 a 13:30 – 14:30 a 17:30. Sábados y domingos de 10:00 a 16:00 horas.</p>
  </div>
</body>

</html>
