<!-- Booking Start -->
<div class="container-fluid">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5">
              <div class="bg-primary py-5 px-4 px-sm-5">
                  <form class="py-5">
                      <div class="form-group">
                          <input type="text" class="form-control border-0 p-4" placeholder="Nombre" required="required" />
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Apellido" required="required" />
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control border-0 p-4" placeholder="Correo" required="required" />
                      </div>
                      <div class="form-group">
                        <input type="number" class="form-control border-0 p-4" placeholder="Telefono" required="required" />
                      </div>
                      <div class="form-group">
                          <select class="custom-select border-0 px-4" style="height: 47px;">
                              <option selected>Tipo mascota</option>
                              <option value="1">Perro</option>
                              <option value="2">Gato</option>
                              <option value="3">Loro</option>
                              <option value="4">Tortuga</option>
                              <option value="5">Hamster</option>
                          </select>
                      </div>
                      <div>
                          <button class="btn btn-dark btn-block border-0 py-3" type="submit">Enviar solicitud </button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
              <h1 class="display-4 mb-4">Casa de <span class="text-primary">la Mascota</span></h1>
              <p>Las adopciones se atienden de lunes a viernes de 9:00 a 13:30 – 14:30 a 17:30. Sábados y domingos de 10:00 a 16:00 horas.</p>
              <div class="row py-2">
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Casa propia y permiso escrito.</h5>
                          </div>
                          <p>Fotocopia de la última factura de luz o agua.</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Fotocopia de C.I.</h5>
                          </div>
                          <p>La persona tiene que ser mayor de 21 años.</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Cubrir el 50% del costo de 2 vacunas</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Número de teléfono fijo.</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Booking Start -->