<h1 class="display-6">Detalle de la mascota</h1>

<h2 style="color: #454545;">Cirugias Mascota</h2>
<!-- Tabla de cirugías -->
<table class="table table-success table-striped-columns">
  <thead>
    <tr>
      <th scope="col" style="color: #454545;">Fecha</th>
      <th scope="col" style="color: #454545;">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cirugia of mascota.cirugias">
      <td style="color: #FF6000;">{{ cirugia.fecha }}</td>
      <td>{{ cirugia.descripcion }}</td>
    </tr>
  </tbody>
</table>
<br>
<h2 style="color: #454545;">Tratamientos Mascota</h2>
<!-- Tabla de tratamientos -->
<table class="table table-success table-striped-columns">
  <thead>
    <tr>
      <th scope="col" style="color: #454545;">Fecha</th>
      <th scope="col" style="color: #454545;">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tratamiento of mascota.tratamientos">
      <td style="color: #FF6000;">{{ tratamiento.fecha }}</td>
      <td>{{ tratamiento.descripcion }}</td>
    </tr>
  </tbody>
</table>