<div>
  <form [formGroup]="citaFormulario" (ngSubmit)="solicitarCita()">
    <div>
      <label for="fechaNacimiento">Fecha:</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" />
      <div *ngIf="citaFormulario.controls['fechaNacimiento'].invalid && citaFormulario.controls['fechaNacimiento'].touched">
        <div *ngIf="citaFormulario.controls['fechaNacimiento'].errors?.['required']">La fecha de nacmiento es requerida.</div>
      </div>
    </div>
  </form>
</div>