<h2>Reserva de Citas</h2>
<form [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
   <div>
      <label>ID Cita:</label>
      <input type="number" formControlName="id_cita" required>
    </div>
  <div>
    <label>Fecha:</label>
    <input type="date" formControlName="fecha" required>
  </div>
  
  <div>
    <label>Hora:</label>
    <input type="text" formControlName="hora" required>
  </div>
  <div>
    <label>Tipo de Servicio:</label>
    <select formControlName="id_servicio" required>
      <option *ngFor="let servicio of serviciosList" [value]="servicio.id_servicio">{{ servicio.tipo }}</option>
    </select>
  </div>
  <div>
    <label>ID Mascota:</label>
    <input type="number" formControlName="id_mascota" required>
  </div>
  <button type="submit">Reservar</button>
</form>
