.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('https://th.bing.com/th/id/R.493eac3cfc8811e1677bc9cf21126f71?rik=NxXyTIDbDDamQA&pid=ImgRaw&r=0');
    width: 100%;
}

.center {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.ancho {
    width: 80%;
}
.container {
    background-image: url('https://th.bing.com/th/id/R.493eac3cfc8811e1677bc9cf21126f71?rik=NxXyTIDbDDamQA&pid=ImgRaw&r=0');
    width: 100%;
    height: 100%;
}
  