<h2>Registro de Mascota</h2>
<form [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
  <div>
    <label>ID Mascota:</label>
    <input type="number" formControlName="id_mascota" required>
  </div>
  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" required>
  </div>
  <div>
   <label>Tipo:</label>
   <input type="text" formControlName="tipo" required>
 </div>
  <div>
    <label>Raza:</label>
    <input type="text" formControlName="raza" required>
  </div>
  <div>
    <label>Edad:</label>
    <input type="number" formControlName="edad" required>
  </div>
  <div>
    <label>Género:</label>
    <input type="text" formControlName="genero" required>
  </div>
  <div>
    <label>Fecha de Nacimiento:</label>
    <input type="date" formControlName="fechaNac" required>
  </div>
  <div>
    <label>Peso:</label>
    <input type="number" formControlName="peso" required>
  </div>
  <div>
    <label>Owner ID:</label>
    <input type="number" formControlName="idOwner" required>
  </div>
  <button type="submit">Registrar Mascota</button>
</form>

<!-- Tabla con los datos de las mascotas -->
<table>
  <thead>
    <tr>
      <th>ID Mascota</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Raza</th>
      <th>Edad</th>
      <th>Género</th>
      <th>Fecha de Nacimiento</th>
      <th>Peso</th>
      <th>Owner ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mascota of mascotas">
      <td>{{ mascota.id_mascota }}</td>
      <td>{{ mascota.nombre }}</td>
      <td>{{ mascota.tipo }}</td>
      <td>{{ mascota.raza }}</td>
      <td>{{ mascota.edad }}</td>
      <td>{{ mascota.genero }}</td>
      <td>{{ mascota.fecha_nacimiento }}</td>
      <td>{{ mascota.peso }}</td>
      <td>{{ mascota.Owner_id_owner }}</td>
    </tr>
  </tbody>
</table>
