.nav-pills .nav-link {
    border: 1px solid #FF6000;
    color: #FF6000;
  }
  
  .nav-pills .nav-link.active {
    background-color: #FF6000;
    color: #fff;
  }
  
  .dropdown-menu a.dropdown-item {
    color: #333;
  }
  
  .dropdown-menu a.dropdown-item:hover {
    background-color: #FF6000;
    color: #fff;
  }

  .navbar-toggler-icon{
    color: #fff;
  }
  